header {
  display: flex;
  height: 81px;
  justify-content: space-between;
  padding-bottom: 17px;
  box-sizing: border-box;
  margin-top: 44px;
}
.header-nav-logo {
  display: flex;
  align-items: baseline;
  margin-left: 115px;
  margin-bottom: -5px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 515px;
  margin-right: 100px;
  margin-top: -3px;
}
.header-nav-projects{
    margin-left: 6px;
}