main {
  margin: auto;
  width: 1440px;
}
body {
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 0;
  margin: 0;

}
h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.logo-dot{
  position: absolute;
  margin-top: 16px;
}
.arrow{
  cursor: pointer;
}
/* section main_quote */
/* quote */
.main_quote {
  margin-top: 26px;
  height: 595px;
}
.main_quote-txt_img {
  display: flex;
  margin-left: 113px;
}
.main_quote-quote {
  margin-top: 47px;
}
.main_quote-orange_quote {
  color: #ff8a56;
  width: 715px;
}
.main_quote-about_man {
  font-size: 15px;
  line-height: 33px;
  color: #666666;
  width: 597px;
  height: 66px;
  margin-top: 35px;
}
.main_quote-btn {
  display: flex;
  margin-top: 38px;
}
.main_quote-black_btn {
    
  height: 58px;
  width: 151px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background-color: black;
  text-align: center;
  padding-top: 17px;
  box-sizing: border-box;
  cursor: pointer;
}
.main_quote-white_btn {
  height: 58px;
  width: 151px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding-top: 17px;
  box-sizing: border-box;
  margin-left: 18px;
  cursor: pointer;
}
.main_quote-arrow {
  padding-top: 22px;
  padding-left: 9px;
}
/* trusted by */

.main_quote-trust{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 93px;
}
.main_quote-trust_txt{

    font-size: 12px;
    line-height: 18px;
    margin-right: 5px;
}

.main_quote-ipsum{
    display: flex;
    justify-content: space-between;
    width: 864px;
    margin-top: 45px;
}


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
